<!DOCTYPE html>

<html lang="en">
    <header>
        <title>{%block head_title%}Consumer{%endblock%}</title>
        {% include 'snippets/css.html' %}
        <center>
            <h1>HGH Corporation</h1>
        </center>
        
    </header>
    <body>
        {% include 'snippets/nav.html' %}
        <div class='container'>
            {% block content %}
                {% comment 'internal of block' %}
                you can define somthing in block and use it in chiled by {block.super} command
                {% endcomment %}
            {% endblock content %}
        </div>
        {% include 'snippets/js.html' %}
    </body>
</html>
