<!DOCTYPE html>

<html lang="en">
    <header>
        <title>Static web page</title>
        {% include 'snippets/css.html' %}
        <center>
            <h1>HGH Corporation</h1>
        </center>
        
    </header>
    <body>
        {% include 'snippets/nav.html' %}
        <div class='container'>
            <center>
                <p>its full satatic page which not define in views.py </p>
                <p>and dosent have any variable context</p>
            </center>
        </div>
        {% include 'snippets/js.html' %}
    </body>
</html>
