[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "==3.0.6"
psycopg2 = "*"
gunicorn = "*"
dj-database-url = "*"
django-crispy-forms = "*"
pillow = "*"
pika = "*"

[requires]
python_version = "3.8"
