{% extends "base.html" %}
{% block head_title %} {{Page_name}} || {{block.super}} {%endblock head_title%}
{% block content %}
<h2>{{Page_name}}</h2>

<ul>
    {% for obj in object_list %}
        <li> 
            <a href="{{obj.slug}}"> {{obj}} </a> <br/>
            <ul>
                Queue_Name: {{obj.Queue_Name}} <br>
                last_update:{{obj.last_update}}
                <form method="GET" action="/consumer/{{obj.slug}}/start">
                    <button type="submit">Start</button>
                </form>
                <form method="GET" action="/consumer/{{obj.slug}}/stop">
                    <button type="submit">Stop</button>
                </form>
            </ul>
            
        </li>
    {% endfor %}

    <form method="GET" action="/consumer/add-new">
        <button type="submit">Creat new one</button>
    </form>
</ul>


{% endblock content %}
