{% extends "base.html" %}
{% block head_title %} {{Page_name}} || {{block.super}} {%endblock head_title%}
{% block content %}
<h2>{{Page_name}}</h2>

<ul>
    {% for obj in Queue_Detail_json %}
       
       <h1>{{obj.name}}</h1>
            <li>Nuber of consumers :    {{obj.consumers}}</li>
            <li>consumer_utilisation:   {{obj.consumer_utilisation}}</li>
            <li>durable:  {{obj.durable}}</li>
            {% if obj.consumer_details %}
                <h4><b> consumer_details </b></h4>
                {% for el in obj.consumer_details %}
                    <li> consumer_tag   : {{el.consumer_tag}}</li>
                    <li> prefetch_count   : {{el.prefetch_count}}</li>
                    <br>
                {% endfor %}
            {% endif %}

            <h4> <b> message_stats </b></h4>
            <li>messages Number:  {{obj.messages}}</li>
            <li>messages_ready:  {{obj.messages_ready}}</li>
            <ul><li>messages_ready_rate:  {{obj.messages_ready_details.rate}}</li></ul>
            <li>messages_unacknowledged:  {{obj.messages_unacknowledged}}</li>
            <ul><li>messages_unacknowledgedr_rate:  {{obj.messages_unacknowledged_details.rate}}</li></ul>
            
            <h5> <b> Queue_history </b></h5>
            <li>Number of which acked:  {{obj.message_stats.ack}} </li>
            <ul><li>ack rate: {{obj.message_stats.ack_details.rate}} </li></ul>
            <li>Delivered message: {{obj.message_stats.deliver}} </li>
            <ul><li>Delivered rate: {{obj.message_stats.deliver_details.rate}} </li></ul>
            <li>published message: {{obj.message_stats.publish}} </li>
            <ul><li>publish rate: {{obj.message_stats.publish_details.rate}} </li></ul>
            <li>redelivered message: {{obj.message_stats.redeliver}} </li>
            <ul><li>redeliver rate: {{obj.message_stats.redeliver_details.rate}} </li></ul>
            
            <br><br>
            {{obj.backing_queue_status}} <br>
       
    {% endfor %}

</ul>

<script>
    setTimeout(() => {
        window.location.reload(true);
        }
        ,4000);
</script>

{% endblock content %}
